DB_URL=jdbc:mysql://localhost:3307/kaoyan_assistant_system?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
DB_USERNAME=kaoyan_user
DB_PASSWORD=kaoyan_pass
SERVER_PORT=8080
FRONTEND_ORIGIN=http://localhost:5173
